/* Page Styling */
.edit-contact-page {
  margin: 20px;
  text-align: center;
  max-height: 400px;
  overflow-y: scroll;
}

.edit-contact-page h1 {
  color: #f8f9fa;
  font-size: 2rem;
  margin-bottom: 20px;
}

.search-filter {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

.search-input,
.category-select {
  padding: 8px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.search-input{
  width: 280px;

}

/* Grid Styling */
.contact-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 10px;
}

/* Contact Card */
.contact-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  color: #333;
  transition: transform 0.3s ease;
}

.contact-card:hover {
  transform: scale(1.05);
}

.contact-details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  text-align: left;
}

.contact-details span {
  font-weight: bold;
}

.profile-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 20px;
}

/* Button Styling */
.edit-btn {
  background-color: #4ba251;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.edit-btn:hover {
  background-color: #3d993f;
}

/* Modal Styling */
.modal {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  max-width: 500px;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.modal h3 {
  color: #333;
  margin-bottom: 15px;
}

.modal-content {
  display: flex;
  flex-direction: column;
}

.modal-content label {
  font-weight: bold;
  margin-top: 10px;
}

.modal-content input[type="text"],
.modal-content input[type="email"],
.modal-content input[type="file"],
.modal-content select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  color: #333;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
}

.save-btn,
.close-btn {
  background-color: #4ba251;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.save-btn:hover,
.close-btn:hover {
  background-color: #3d993f;
}

/* Responsive Adjustments */
@media (max-width: 1200px) {
  .contact-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .modal {
    width: 90%;
  }
}

@media (max-width: 800px) {
  .contact-grid {
    grid-template-columns: 1fr;
  }
}


.edit-contact-page{
    position: relative;
    top: 100px;
    padding-bottom: 20px;
}